@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* @keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-wave {
  animation: wave 1s ease-in-out infinite;
} */

/* @keyframes fadeInOutWave {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  25%, 75% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.animate-fade-in-out-wave {
  animation: fadeInOutWave 2s ease-in-out infinite;
} */

@keyframes fadeInOutWaveColors {
  25%, 100% {
    opacity: 1;
    transform: translateY(10px);
    color: white; /* Start color */
  }
  50% {
    opacity: 1;
    transform: translateY(0);
    color: black; /* Middle color */
  }
  75% {
    opacity: 1;
    transform: translateY(0);
    color: gray; /* End color */
  }
}

.animate-fade-in-out-wave-colors {
  animation: fadeInOutWaveColors 10s ease-in-out infinite;
}
.background-div {
  background-image: url('./Assets/Images/wave\ \(2\).svg');
  /* Add other background properties like background-size, background-repeat, etc. as needed */
}

/* Custom.css */

